/*input {
    border: 1px green dotted;
}
input[type=radio][checked] {
    border: 1px yellow double;

}
.a_google:hover {
    color: yellow !important;
}
form {
    border: 1px red solid;
    float :left;
    width: 50%;
    color:black;

}

#new_window {
    border: 1px darkgray solid;
    float :left;
    width : 50%;
}*/
main{
    display: block;
}

a{
    display: inline-block;

}

#for-frame{
    display: none;
    position:relative;
    width:100%;
    height:500px;
    overflow: hidden;
}

iframe{
    position: absolute;
    top: -100px;
    display: none;
    margin: auto;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

main section {
    width: 100%;
}

main section div {
    float: left;
    width: 21%;
    PADDING: 2%;
    MARGIN: AUTO;
}
main section div img {
    DISPLAY: BLOCK;
    width: 80%;
    MARGIN: AUTO;
}

nav{
    display: inline;
    text-align: center;
}

nav ul li {
    border: 1px solid gray;
    display: inline;
    text-align: left;
    font-size: 18;
    padding: 10px;
}

nav ul li:hover{
    background: yellow;
}



footer ul li {
    text-align: center;
    width: 30%;
    display: inline;
    margin-right: 10px;
}

div:hover img {
border: rgba(66, 184, 182, 0.73) double 1px;
}
nav + p, div#for-new-dom>p{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 200px;
    text-align: justify;
}